input[type=button], input[type=reset] {
    padding: 5px;
}

dd {
    margin-left: 30px;
}

textarea {
    width: 800px;
    height: 200px;
}

form {
    padding: 10px;
}

button {
    padding: 5px;
    margin-top: 1em;
}

.sub-footer {
    z-index: 2000;
}

#findPIDBtnForm {
    margin-top: -20px;
    margin-bottom: 20px;
}

#findPIDInputTable {
    margin-top: 20px;
}

#findPIDInputTable > tbody > tr > td > label {
    margin-right: 20px;
}

/* TR FINDER
/* Container holding the image and the text */
.raidForm.container {
    position: relative;
    height: 1064px;
    width: 458px;
}

#raidForm {
    margin-top: -45px;
}

.circle {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Accordians */
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    border-left: 3px solid;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/* Encounter slots */
.waffle thead tr {
    top: 0;
    position: sticky;
    z-index: 20;
}


.waffle {
    width: auto;
    margin: auto;
}

.es-nav-container {
    text-align: center;
}
.es-nav-container a {
    margin: 20px;
    display: inline-block;
}

.subslot {
    font-style: italic;
    font-size: smaller;
}

.spacer {
    margin: 50px;
}